body {
  background: #eee;
  font-size: 16px;
  margin: auto 2em;
  font-family: sans-serif;
  color: #606E7A;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
}

.hero-text-container {
  text-align: center;
  margin: 3em 0;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
}
.day-block {
  align-content: center;
  height: 12.4em;
  width: 10em;
  border-radius: 4px;
  background: white;
  display: inline-block;
  overflow: hidden;
}
.day-block__title {
  background: #ABA0EC;
  height: 1.4em;
  color: whitesmoke;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5em;
  text-transform: uppercase;
}
.day-block__details--grid {
  display: grid;
  height: 10em;
  width: 10em;
}
.day__person {
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.day--empty {
  background: url(/assets/not-found.svg);
  background-repeat: no-repeat;
  background-color:lightgrey;
  background-position: center;
  height: 10em;
}

.action-container {
  display: flex;
}

.action-container > * {
  margin: 3em 0;
}

.action-container > div {
  width: 50%;
}

.action-container__data-input {
  font-size: 1em;
  height: 20em;
  width: 100%;
}

.action-container__data-update {
  padding: 0 3em;
}

.action-container__data-update--input {
  font-size: 1em;
  padding: .5em;
  margin: .5em auto;
}

.action-container__data-update--submit {
  height: 2.5rem;
  width: 6rem;
  font-size: 14px;
  background: #1E90FF;
  color: #fff;
  font-weight: bold;
  margin: 2% 2%;
  border-radius: 0.2rem;
  margin: 1.5em 0;
  display: block;
}
